@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-butler), serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*bg noise, bento hover*/
@layer utilities {
  .noise-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0.05 0.05 0.05 0'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noise)'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: repeat;
  }
  .bento-hover {
    @apply hover:scale-[1.03] hover:-translate-y-1 hover:shadow-lg transition duration-300 ease-in-out;
  }
}



